 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

 * {
     font-family: 'Inter', sans-serif;
 }

 body {
     margin: 0;
     overflow: hidden;
     padding: 0;
     color: #222;
 }


 main {
     max-width: 450px;
     margin: 30px auto;
     background: white;
     padding: 50px;
     border-radius: 16px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
 }

 h1 {
     font-size: 150%;
     text-align: center;
     color: #333;
     margin-top: -4px;
     line-height: 1.6;
 }

 form {
     display: flex;
     flex-direction: column;
     gap: 16px;
 }

 label {
     font-weight: 600;
     font-size: 14px;
 }

 input,
 textarea,
 select {
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 8px;
     font-size: 15px;
     outline: none;
     transition: border-color 0.2s;
 }

 input:focus,
 textarea:focus,
 select:focus {
     border-color: #ffb300;
 }

 textarea {
     resize: vertical;
     min-height: 80px;
 }

 button {
     background: url(https://cdn.shopify.com/s/files/1/0403/5801/9230/files/glitch-effect-for-video-editing_ee1e587c-c3f0-4b56-8adb-63be455eeabb_1250x.jpg?v=1705103155);
     color: white;
     font-weight: 600;
     font-size: 25px;
     border: none;
     margin-top: 5%;
     border-radius: 10px;
     padding: 15px;
     cursor: pointer;
     transition: transform 0.5s ease;
 }

 button:hover {
     transform: rotate(2deg);
 }


 .video-background {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     z-index: -1;
     /* envia o vídeo para trás do conteúdo */
 }

 .video-background video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* mantém o vídeo preenchendo a tela */
 }