@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* Topo com links globais */
* {
  margin: 0;
  padding: 0;

}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  /* Sombra suave embaixo */
  padding: 5vh;
  margin-bottom: 5%;
}

.logo {
  width: 25vh;
}

.perfil {
  width: 7vh;
  position: absolute;
  right: 70px;
  top: 7vh;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  /* Sombra suave no perfil */
  border-radius: 50%;
  /* Se for uma imagem circular */
}

h1,
h2 {
  font-family: 'Inter', sans-serif;
  font-size: 230%;
}

/* Conteúdo */
.conteudo,
.texto {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 15px;
  font-family: 'Inter', sans-serif;
  color: rgb(43, 43, 43);
}

.texto,
.texto h2 {
  margin-top: 3%;
}

.conteudo h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.conteudo p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #555;
}

footer {
  background-color: aliceblue;
  box-shadow: 0 -15px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 7%;
  padding: 2%;
  font-family: 'Press Start 2P', cursive;
}


.redesSociais {
  margin-top: 5vh;
  display: flex;
  gap: 5%;

}

.redesSociais a {

  border-radius: 80px;
  padding: 2%;
  background-color: rgb(231, 231, 231);
  color: rgb(36, 36, 36);
}

.denunciar a {

  border-radius: 120px;
  margin-left: 69vh;
  padding: 2vh;
  background-color: rgb(207, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.denunciar i {
  color: rgb(255, 255, 255);
  font-size: 200%;


}