/*importação de fonte*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}


/*navbar*/
header{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); /* Sombra suave embaixo */
    padding: 5vh;
    margin-bottom: 6%;

}

/*espaçamento desnecessario*/

.logo{
    width: 25vh;
}

.perfil{
    width: 7vh;
    position: absolute;
    right: 70px; 
    top: 7vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Sombra suave no perfil */
    border-radius: 50%; /* Se for uma imagem circular */
}
/*navbar*/


/* Container/ configuração da div de perfil */ 
.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40vh;
    margin: 0 auto;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    font-family: 'Inter', sans-serif;
}

/* Profile Header */
.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.avatar {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    background-color: #a4d7b1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.profile-details h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.profile-details p {
    font-size: 16px;
    color: #666;
}

/* Personal Info Section */
.personal-info {
    text-align: center;
    margin-bottom: 20px;
}

.personal-info h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.personal-info p {
    font-size: 14px;
    color: #777;
}

/* Profile Data */
.profile-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.data-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #333;
}

.data-item h3 {
    font-weight: bold;
    color: #333;
}

.data-item p {
    color: #666;
} /*configuração da div de perfil*/

/* roda pé*/
footer{
    background-color: aliceblue;
     box-shadow: 0 -15px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 7%;
    padding: 2%;
    font-family: 'Press Start 2P', cursive;
  }

  
